version: 2

updates:
  # Skipping Python dependencies as pyproject.toml contains template variables
  # that prevent proper parsing

  # Update GitHub Actions of both the template and the repo
  - package-ecosystem: github-actions
    cooldown:
      default-days: 7
    directories:
      - "/"
      - "{{cookiecutter.project_slug}}/.github/workflows"
    groups:
      actions:
        patterns:
          - "*"
    schedule:
      interval: daily
